.background_image {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(82, 104, 119, 0.7), rgba(103, 83, 105, 0.6)), url(../static/header.jpeg);
    background-attachment: fixed;
    background-position: 35% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-tag {
    color:white !important;
    font-family: 'Lobster Two', cursive;
    font-size: 90px;
    text-transform: capitalize;
}

.center_home_box {
    padding:200px 0px;
}

.center_home_box h1 {
    text-align: center;

}

.login-tag {
    font-family: 'Lobster Two', cursive;
    font-family: 'Playfair Display', serif;
    color:white;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-adjust {
    margin-top: 100px;
}


.login-title {
    color:white;
}

.center_register_box {
    padding:120px 0px;
}



.form-holder {
    background-color:#999;
    padding:100px;
}

.ingredients > a {
    color: #444;
    font-size: 16px;
    text-transform: capitalize;
}

.ingredients {
    color: #444;
    font-size: 16px;
    text-transform: capitalize;
}

.inventory-list-holder {
    background-color: #999;
    padding: 50px 100px;
    text-align: center;
    margin-top: 100px;
}

h2,h1 {
    font-family: 'Lobster Two', cursive;
}

.nutrition-form {
    background-color: #999;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    padding:50px;
    text-align: center;
    
}

.logo {
    font-family: 'Lobster Two', cursive;
}