{% extends 'base.html' %}
{% block content %}

<div class="fluid-container">
    <div class="row">
        <div class="col-md-1">
            <div class="dot"></div>
        </div>
        <div class="col-md-5 header">
            <div class= "image-container move-right"><img src="../static/images/dish.png"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 header-text">
            <div class="move-left">
            <h3 class="header-h3">welcome to</h3>
            <h1 class="header-h1">My Pantry</h1>
            <h3 class="header-h3-letter-spacing">Tagline Here</h3>
            <p class="header-paragraph">Pantry is an application that allows users to input items from their kitchen 
                into an online inventory. The application then suggests recipes based on the items in the user's current inventory.
                 </p>
                <a class="nav-link" href="{{ url_for('register') }}" ><button class="green-button">Register</button></a>
            </div>
            </div>
    </div>
</div>


{% endblock content %}