{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid ">
    <div class="row margin-top-adjust">
        <div class="col-md-1"></div>
        <div class="col-md-4 ">
            <img src="../static/images/ingredients.png" class="image-ingredient">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="form-holder">
                <h1>Add Ingredient</h1>
                <form action="" method="post">
                    {{ ingredient_form.hidden_tag() }}
                    <div class="form-group ">
                        <fieldset>
                            {{ ingredient_form.ingredient_input.label(class="margin-top paragraph") }}
                            {{ ingredient_form.ingredient_input(class="form-control", placeholder = "Ingredient") }}
                        </fieldset>
                        <fieldset>
                            {{ ingredient_form.quantity.label(class="margin-top paragraph") }}
                            {{ ingredient_form.quantity(class="form-control", placeholder = "Quantity") }}
                        </fieldset>
                        {{ ingredient_form.submit(class="btn btn-primary green-button margin-top") }}
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 center">
            <i class='fas fa-chevron-down arrow'></i>
            <h1 class="margin-top">Current Fridge Inventory</h1>
            <h3 class="subheading">- You can add quantity to an item that already exists -</h3>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        
            {% for items in updated_items %}
            
                <div class="col-md-3 margin-top-adjust align-items">
                    <img src="../static/images/placeholder.png">
                    <p class="ingredients"><b>Ingredient:</b> {{ items.ingredient_col }}</p>
                    <p class="ingredients"><b>Quantity:</b> {{ items.quantity}}</p>
                </div>
            
              
           
            

            {% endfor %}
        </div>
    </div>
        
    



    {% else %}
    <h2>Sorry, you gotta log-in first :)</h2>

</div>
{% endif %}
{% endblock content %}