{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src="{{ display_image }}">
        <p>{{ recipe_title }}</p>
        <p><b>Ingredients</b></p>
        {% for key, value in image_name_dict.items() %}
        <p>{{ key }}</p>
        <img src="{{ value }}">
        {% endfor %}
        <p>Steps:</p>
        {% if recipe_steps_dict %}
        {% for key,value in recipe_steps_dict.items() %}
        <p>{{ key }}. {{ value }}</p>
            {% else %}
        <p>No Results Found</p>
        {% endfor %}
        {% endif %}
        
    </div>
        <div class="col-md-3"></div>
    </div>
</div>
        
{% endblock content %}