{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>
                {% for key,value in recipe_options_dict.items() %}
                <a href="{{ url_for('get_recipes', recipe_id =  key ) }}">{{ value }}</a>
                {% endfor %}
                
                    <img src="{{ display_photo }}">
            </p>
    </div>
        <div class="col-md-3"></div>
    </div>
</div>
        
{% endblock content %}